body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  max-width: 600px;
}
.square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-bar {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}

.choose-bar__item {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
.icon {
  font-size: 2rem;
}
